<!-- 업로드한 신발이미지에 대한 추천 페이지 -->
{% load static %}
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="{% static 'album.css' %}" rel="stylesheet">
</head>

<header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="{% url 'main:index' %}" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>SOTD: Shoes of the Day</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>


<script>
    var list_rec = document.getElementById("recommendlist").innerImage.split(',');
    var list_sim = document.getElementById("cossimilarity").innerText.split(',');

</script>

<div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src= {{ upload_img }} alt="Card image cap">
              </div>
            </div>

            {% for rec in shoes_recommend %}
              <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src= {{ rec }} alt="Card image cap">
              </div>
            </div>
            {% endfor %}


              {% for rec in codi_recommend %}
              <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src= {{ rec }} alt="Card image cap">
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
</div>

{% for sim in similarity %}
    {{ sim }}
    <br><br>
{% endfor %}

